body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
  }

  .move-icon {
    width: 50px;
    height: 50px;
  }

  .move-button {
    border: 3px solid white;
    background-color: transparent;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
  }

  .result {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .score {
    margin-top: 60px;
  }

  .reset-button,.auto-play-button {
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .auto-play-button{

  }